/* Width 768px */

@media (max-width:768px) {

    .container {
        max-width: 768px;
        display: grid;
    }

    .table__tr,
    .tbody__tr {
        grid-template-columns: 110px 173px 75px 75px 111px 91px;
    }

    .table__th-title {
        padding-right: 0;
    }

    .th-full-name::before {
        top: 1px;
        right: 18px;
    }

    .tbody__td-date {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    .tbody__td-change {
        grid-template-columns: 1fr;
        gap: 5px;
    }

}

@media (max-width:576px) {

    .container {
        overflow-y: hidden;
        display: block;
    }

    .container__blok-filter {
        max-width: 768px;
        display: block;
        overflow-y: hidden;
    }

    .blok-filter {
        height: 40px;
    }

    .client-form__logo {
        display: block;
        margin-left: calc(50% - 15px);
        margin-right: auto;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: margin .5s ease-in-out;
    }

    .client-form__logo--close {
        margin: 0;
        margin-right: 20px;
    }

    .client-form__input {
        transform: scale(0);
        width: 0;
        height: 24px;
        transition: transform .5s ease-in-out;
    }

    .client-form__input--active {
        transform: scale(1);
        width: 235px;
    }

    .container__blok-filter {
        margin-bottom: 30px;
    }

    .title {
        font-size: 18px;
        line-height: 24.68px;
    }

    .modal__blok {
        width: 300px;
    }

    .modal__btn-close {
        right: 5px;
        top: 5px;
    }

    .btn-blok__contact::before {
        width: 125%;
    }

    .modal__btn-contact-svg {
        left: 49px;
    }

    .choices__list--single {
        padding-left: 4px;
    }

    .contact-btn-close {
        right: -68px;
        height: 36.5px;
    }

    .contact-input::placeholder {
        width: 105px;
    }

    .modal-alert__blok {
        width: 300px;
    }
}

